# 单只下载

In [3]:
from xtquant import xtdata

xtdata.download_history_data(stock_code='002358.SZ', period='1d', start_time='20230101', end_time='20231115')

# 批量下载

In [4]:
from xtquant import xtdata

def on_progress(data):
        print(data)

xtdata.download_history_data2(stock_list=['600309.SH', '600989.SH', '002714.SZ'], period='tick', start_time='20231111', end_time='20231115', callback=on_progress)

{'finished': 0, 'total': 1, 'stockcode': '开始下载', 'message': ''}
{'finished': 0, 'total': 3, 'stockcode': '', 'message': ''}
{'finished': 3, 'total': 3, 'stockcode': '002714.SZ', 'message': ''}

# 获取历史数据

In [7]:
from xtquant import xtdata

xtdata.download_history_data2(stock_list=['600309.SH', '600989.SH', '002714.SZ'], period='1d', start_time='20231111', end_time='20231115')

res = xtdata.get_market_data(stock_list=['600309.SH', '600989.SH', '002714.SZ'], period='1d', start_time='20231111', end_time='20231115')

print(res['open'])

           20231113  20231114  20231115
600309.SH     83.48     83.26     83.18
600989.SH     14.29     14.29     14.40
002714.SZ     37.52     37.45     37.47

In [2]:
from xtquant import xtdata

xtdata.connect(port=58609)

xtdata.download_history_data2(stock_list=['600309.SH', '600989.SH', '002714.SZ'], period='1d', start_time='20231111', end_time='20231115')

res = xtdata.get_local_data(stock_list=['600309.SH', '600989.SH', '002714.SZ'], period='1d', start_time='20231111', end_time='20231115')

res['600309.SH']

***** xtdata连接成功 *****
服务信息: {'tag': 'xtquant', 'version': '1.0'}
服务地址: 127.0.0.1:58609
数据路径: d:\Code\course\miniqmt-demo\data\datadir
设置xtdata.enable_hello = False可隐藏此消息

,time,open,high,low,close,volume,amount,settelementPrice,openInterest,preClose,suspendFlag
20231113,1699804800000,83.48,83.72,82.52,83.10,92356,766722805.0,0.0,15,83.33,0
20231114,1699891200000,83.26,83.98,82.01,82.68,101943,841974077.0,0.0,15,83.10,0
20231115,1699977600000,83.18,83.83,82.47,83.30,105194,873683395.0,0.0,15,82.68,0

# 周期

In [6]:
from xtquant import xtdata

xtdata.download_history_data2(stock_list=['600309.SH'], period='tick', start_time='20231111', end_time='20231115')

res = xtdata.get_local_data(stock_list=['600309.SH'], period='tick', start_time='20231111', end_time='20231115')

res['600309.SH']

,time,lastPrice,open,high,low,lastClose,amount,volume,pvolume,stockStatus,openInt,lastSettlementPrice,askPrice,bidPrice,askVol,bidVol,settlementPrice,transactionNum,pe
20231113091501,1699838101000,0.00,0.00,0.00,0.00,83.33,0.0,0,0,0,12,0.0,"[0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0]","[0, 0, 0, 0, 0]","[0, 0, 0, 0, 0]",0.0,0,0.0
20231113091504,1699838104000,0.00,0.00,0.00,0.00,83.33,0.0,0,0,0,12,0.0,"[83.34, 0.0, 0.0, 0.0, 0.0]","[83.34, 0.0, 0.0, 0.0, 0.0]","[5, 0, 0, 0, 0]","[5, 0, 0, 0, 0]",0.0,0,0.0
20231113091507,1699838107000,0.00,0.00,0.00,0.00,83.33,0.0,0,0,0,12,0.0,"[83.34, 0.0, 0.0, 0.0, 0.0]","[83.34, 0.0, 0.0, 0.0, 0.0]","[5, 0, 0, 0, 0]","[5, 13, 0, 0, 0]",0.0,0,0.0
20231113091510,1699838110000,0.00,0.00,0.00,0.00,83.33,0.0,0,0,0,12,0.0,"[83.34, 0.0, 0.0, 0.0, 0.0]","[83.34, 0.0, 0.0, 0.0, 0.0]","[12, 0, 0, 0, 0]","[12, 8, 0, 0, 0]",0.0,0,0.0
20231113091513,1699838113000,0.00,0.00,0.00,0.00,83.33,0.0,0,0,0,12,0.0,"[83.34, 0.0, 0.0, 0.0, 0.0]","[83.34, 0.0, 0.0, 0.0, 0.0]","[17, 0, 0, 0, 0]","[17, 15, 0, 0, 0]",0.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20231115145951,1700031591000,83.29,83.18,83.83,82.47,82.68,862712785.0,103877,0,0,18,0.0,"[83.3, 0.0, 0.0, 0.0, 0.0]","[83.3, 0.0, 0.0, 0.0, 0.0]","[1130, 0, 0, 0, 0]","[1130, 186, 0, 0, 0]",0.0,42445,0.0
20231115145954,1700031594000,83.29,83.18,83.83,82.47,82.68,862712785.0,103877,0,0,18,0.0,"[83.3, 0.0, 0.0, 0.0, 0.0]","[83.3, 0.0, 0.0, 0.0, 0.0]","[1199, 0, 0, 0, 0]","[1199, 117, 0, 0, 0]",0.0,42445,0.0
20231115145957,1700031597000,83.29,83.18,83.83,82.47,82.68,862712785.0,103877,0,0,18,0.0,"[83.3, 0.0, 0.0, 0.0, 0.0]","[83.3, 0.0, 0.0, 0.0, 0.0]","[1316, 58, 0, 0, 0]","[1316, 0, 0, 0, 0]",0.0,42445,0.0
20231115150000,1700031600000,83.29,83.18,83.83,82.47,82.68,862712785.0,103877,0,0,18,0.0,"[83.3, 0.0, 0.0, 0.0, 0.0]","[83.3, 0.0, 0.0, 0.0, 0.0]","[1317, 143, 0, 0, 0]","[1317, 0, 0, 0, 0]",0.0,42445,0.0
20231115150003,1700031603000,83.30,83.18,83.83,82.47,82.68,873683395.0,105194,0,0,15,0.0,"[83.3, 83.31, 83.32, 83.33, 83.34]","[83.29, 83.28, 83.27, 83.26, 83.25]","[143, 19, 4, 7, 6]","[38, 31, 49, 65, 20]",0.0,42657,0.0

# 【VIP】获取可用周期

In [3]:
from xtquant import xtdata

xtdata.reconnect(port=58609)

res = xtdata.get_period_list()

res

***** xtdata连接成功 *****
服务信息: {'tag': 'xtquant', 'version': '1.0'}
服务地址: 127.0.0.1:58609
数据路径: d:\Code\course\miniqmt-demo\data\datadir
设置xtdata.enable_hello = False可隐藏此消息

['10m',
 '15m',
 '1d',
 '1h',
 '1hy',
 '1m',
 '1mon',
 '1q',
 '1w',
 '1y',
 '2d',
 '2h',
 '30m',
 '3d',
 '3h',
 '3m',
 '4h',
 '5d',
 '5m',
 '60m',
 'balance',
 'capital',
 'cashflow',
 'delistchangebond',
 'dividendplaninfo',
 'futureholderrank',
 'historycontract',
 'historymaincontract',
 'hkbrokerqueue',
 'holdernum',
 'income',
 'interactiveqa',
 'l2order',
 'l2orderqueue',
 'l2quote',
 'l2quoteaux',
 'l2thousand',
 'l2transaction',
 'l2transactioncount',
 'northfinancechange1d',
 'northfinancechange1m',
 'optionhistorycontract',
 'orderflow15m',
 'orderflow1d',
 'orderflow1h',
 'orderflow1m',
 'orderflow30m',
 'orderflow5m',
 'pershareindex',
 'replacechangebond',
 'snapshotindex',
 'specialtreatment',
 'tick',
 'top10flowholder',
 'top10holder',
 'transactioncount1d',
 'transactioncount1m',
 'warehousereceipt']

# 复权

In [14]:
from xtquant import xtdata

# 不复权
# res = xtdata.get_local_data(stock_list=['600309.SH'], period='1d', start_time='20231111', end_time='20231115')

# 前复权
res = xtdata.get_local_data(stock_list=['600309.SH'], period='1d', start_time='20231111', end_time='20231115', dividend_type='front_ratio')

# 后复权
res = xtdata.get_local_data(stock_list=['600309.SH'], period='1d', start_time='20231111', end_time='20231115', dividend_type='back_ratio')

res['600309.SH']

,time,open,high,low,close,volume,amount,settelementPrice,openInterest,preClose,suspendFlag
20231113,1699804800000,2909.107885,2917.471396,2875.653841,2895.865659,92356,766722805.0,0.0,15,2903.880690,0
20231114,1699891200000,2901.441333,2926.531866,2857.881380,2881.229515,101943,841974077.0,0.0,15,2895.865659,0
20231115,1699977600000,2898.653496,2921.304672,2873.911443,2902.835252,105194,873683395.0,0.0,15,2881.229515,0

# 分红(除权)

In [15]:
from xtquant import xtdata

res = xtdata.get_divid_factors(stock_code='600309.SH')

res

,time,interest,stockBonus,stockGift,allotNum,allotPrice,gugai,dr
20010419,9.876096e+11,0.10,0.2,0.8,0.0,0.0,0.0,2.003194
20020415,1.018800e+12,0.20,0.1,0.5,0.0,0.0,0.0,1.613157
20030611,1.055261e+12,0.20,0.0,0.0,0.0,0.0,0.0,1.016666
20040517,1.084723e+12,0.20,0.2,0.5,0.0,0.0,0.0,1.719758
20050401,1.112285e+12,0.20,0.3,0.0,0.0,0.0,0.0,1.314977
20060605,1.149437e+12,0.15,0.4,0.0,0.0,0.0,0.0,1.409700
20070711,1.184083e+12,0.10,0.4,0.0,0.0,0.0,0.0,1.402735
20080414,1.208102e+12,0.40,0.0,0.0,0.0,0.0,0.0,1.013377
20090414,1.239638e+12,0.50,0.0,0.0,0.0,0.0,0.0,1.027548
20100517,1.274026e+12,0.30,0.0,0.0,0.0,0.0,0.0,1.015898
20110512,1.305130e+12,0.40,0.3,0.0,0.0,0.0,0.0,1.321978
20120424,1.335197e+12,0.60,0.0,0.0,0.0,0.0,0.0,1.043572
20130503,1.367510e+12,0.70,0.0,0.0,0.0,0.0,0.0,1.038588
20140616,1.402848e+12,0.70,0.0,0.0,0.0,0.0,0.0,1.043859
20150528,1.432742e+12,0.30,0.0,0.0,0.0,0.0,0.0,1.010522
20160422,1.461254e+12,0.20,0.0,0.0,0.0,0.0,0.0,1.012070
20170518,1.495037e+12,0.50,0.2,0.0,0.0,0.0,0.0,1.221649
20180126,1.516896e+12,1.50,0.0,0.0,0.0,0.0,0.0,1.041163
20190527,1.558886e+12,2.00,0.0,0.0,0.0,0.0,0.0,1.052438
20200515,1.589472e+12,1.30,0.0,0.0,0.0,0.0,0.0,1.029076
20210426,1.619366e+12,1.30,0.0,0.0,0.0,0.0,0.0,1.011837
20220429,1.651162e+12,2.50,0.0,0.0,0.0,0.0,0.0,1.032270
20230526,1.685030e+12,1.60,0.0,0.0,0.0,0.0,0.0,1.018796

In [13]:
from xtquant import xtdata

xtdata.connect(port=58609)
stock = '000001.SZ'
# field = 'lastPrice'
xtdata.download_history_data(period='1d',stock_code=stock,start_time='20240401',end_time='20240405')
data = xtdata.get_market_data_ex(stock_list=[stock], period='1d',start_time='20240403')
# detail = xtdata.get_instrument_detail(stock)
# 总市值 = 最新价 * 总股本
# price = data[stock].iloc[-1][field] * detail['TotalVolume']
print(data)

{'000001.SZ':                    time   open   high    low  close  volume        amount  \
20240403  1712073600000  10.53  10.55  10.42  10.46  981846  1.028649e+09

          settelementPrice  openInterest  preClose  suspendFlag
20240403               0.0            15     10.55            0  }