# 获取财务数据

In [2]:
from xtquant import xtdata

table_list = ['Balance','Income','CashFlow','Capital','Top10FlowHolder','Top10Holder','HolderNum','PershareIndex']

xtdata.download_financial_data(stock_list=['600519.SH'], table_list=table_list)

res = xtdata.get_financial_data(stock_list=['600519.SH'], table_list=table_list)

df = res['600519.SH']['Income']

df

,m_timetag,m_anntime,revenue_inc,earned_premium,real_estate_sales_income,total_operating_cost,real_estate_sales_cost,research_expenses,surrender_value,net_payments,...,net_inc_other_ops,plus_net_gain_chg_fv,plus_net_inc_other_bus,oper_exp,tot_compreh_inc,tot_compreh_inc_min_shrhldr,tot_compreh_inc_parent_comp,actual_ann_dt,operating_revenue,cost_of_goods_sold
0,20011231,20020417,1.618047e+09,NaN,NaN,1.009061e+09,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,20020331,20020429,7.180149e+08,NaN,NaN,3.808385e+08,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,20020630,20020814,9.556542e+08,NaN,NaN,5.545605e+08,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,20020930,20021029,1.363886e+09,NaN,NaN,8.382068e+08,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,20021231,20030326,1.834898e+09,NaN,NaN,1.189005e+09,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,20221231,20230331,1.240998e+11,NaN,NaN,3.974831e+10,NaN,1.351857e+08,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
106,20230331,20230426,3.875581e+10,NaN,NaN,1.071560e+10,NaN,2.295621e+07,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
107,20230630,20230803,6.957602e+10,NaN,NaN,2.117930e+10,NaN,7.277068e+07,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
108,20230930,20231021,1.032684e+11,NaN,NaN,3.223569e+10,NaN,1.011260e+08,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109,20231231,20240403,1.476936e+11,NaN,NaN,4.696089e+10,NaN,1.573719e+08,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# 过滤时间

In [10]:
xtdata.download_financial_data(stock_list=['600519.SH'], table_list=table_list)

res = xtdata.get_financial_data(stock_list=['600519.SH'], table_list=table_list, start_time='20220101', end_time='20230101', report_type='announce_time')

df = res['600519.SH']['Balance']

df

,m_timetag,m_anntime,internal_shoule_recv,fixed_capital_clearance,should_pay_money,settlement_payment,receivable_premium,accounts_receivable_reinsurance,reinsurance_contract_reserve,dividends_payable,...,m_guaranteeInvestmentFunds,m_premiumsReceivedAdvance,m_insuranceLiabilities,m_liabilitiesIndependentAccounts,m_liabilitiesVicariousBusiness,m_otherLiablities,m_capitalPremium,m_petainedProfit,m_provisionTransactionRisk,m_otherReserves
0,20220331,20220427,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20220630,20220803,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20220930,20221017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20221231,20230331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20221231,20230426,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,20221231,20230803,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,20221231,20231021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN